<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Lioneus | What's new</title>
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.lioneus.com/favicon-32x32.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>

	<section class="lio_title_section">
		<div class="lio_wrapper">
			<div class="sec_lio_title">
				<h2>Lioneus product updates</h2>
				<p>
					Get the latest news about Lioneus from this page and check back here regularly to see
					what's new.
				</p>
			</div>
		</div>
	</section>


	<section class="lio_section_feed">
		<div class="lio_wrapper">
			<div class="lio_feed_header">
				<p>
					<span>Subscribe by</span>
					<a href="mailto:info@lioneus.com">Email</a>
				</p>
			</div>

			<div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/addproductwhatsnew.png" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<a href="#" class="a_h3">Add button</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div>
			<div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/explorewhatsnew.png" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<h3 class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</h3>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div>
			<div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/buynowwhatsnew.png" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div>

			<div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/website-redesign.jpg" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div>

			<div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/1584636437.png" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div>
			<!-- <div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/G Suite Windows 10 login.png" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div>
			<div class="lio_feed_single"> -->
			<!-- <div class="lio_feed_img">
					<a href="#"><img src="../assets/images/G Suite Windows 10 login.png" alt=""></a>
				</div>
				<div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div> -->
			<!-- <div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/G Suite Windows 10 login.png" alt=""></a>
				</div> -->
			<!-- <div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div> -->
			<!-- <div class="lio_feed_single">
				<div class="lio_feed_img">
					<a href="#"><img src="../assets/images/G Suite Windows 10 login.png" alt=""></a>
				</div> -->
			<!-- <div class="lio_feed_content">
					<a href="#" class="a_h3"> New sharing dialog for Google Drive, Docs, Sheets, Slides, and Forms</a>
					<h5>Tuesday, April 28, 2020</h5>
					<a href="#" class="a_h5"> What’s changing We’re updating the interface you use to share files from
						Google Drive, Docs, Sheets, Slides, and Forms on the web. This will replace the previous
						interface used to share files and manage members of...</a>
				</div>
			</div> -->


		</div>
	</section>

</body>

</html>