<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Lioneus | Business</title>
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.lioneus.com/favicon-32x32.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

	<link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>

	<section class="section_business_1" style="overflow: hidden;">
		<div class="lio_wrapper">
			<div class="lio_row align-items-center flex_reverse_mb">
				<div class="lio_col_5">
					<div class="lio_sb1_content_left">
						<h2>Lioneus Store</h2>
						<p>Lioneus Store helps you get your store and product info into Lioneus and make it available to
							shoppers across Lioneus.</p>
						<a href="https://www.lioneus.com/sell" class="lio_btn lio_btn_fill">Get started</a>
					</div>
				</div>
				<div class="lio_col_7">
					<div class="lio_sb1_content_right">
						<img src="../assets/images/u1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section_business_2">
		<div class="lio_wrapper">
			<div class="lio_sb2_title">
				<h3>Here’s what you can do with your Lioneus Store</h3>
			</div>

			<div class="lio_row_content">
				<div class="lio_row align-items-center">
					<div class="lio_col_7">
						<div class="lio_sb2_img">
							<img src="../assets/images/b1.png" alt="">
						</div>
					</div>
					<div class="lio_col_5">
						<div class="lio_sb2_content">
							<h2>Upload accurate product information</h2>
							<p>Give your customers up to date details. Your store helps you ensure that your
								product info, like price and availability, shows up correctly to potential customers on
								Lioneus.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="lio_row_content">
				<div class="lio_row align-items-center flex_reverse_mb">
					<div class="lio_col_5">
						<div class="lio_sb2_content">
							<h2>Reach customers across Lioneus</h2>
							<p>Your Lioneus Store powers shopping experiences beyond listing. Show your products to
								shoppers across search and discovery channels by opting your info into surfaces across
								Lioneus, Discovery, Shopping Actions, and other Lioneus services.</p>
						</div>
					</div>
					<div class="lio_col_7">
						<div class="lio_sb2_img">
							<img src="../assets/images/b2.png" alt="">
						</div>
					</div>


				</div>
			</div>

			<div class="lio_row_content">
				<div class="lio_row align-items-center">
					<div class="lio_col_7">
						<div class="lio_sb2_img">
							<img src="../assets/images/b3.png" alt="">
						</div>
					</div>
					<div class="lio_col_5">
						<div class="lio_sb2_content">
							<h2>Discover</h2>
							<p>Get your products featured in our discovery page where customers will see different types
								of products each day!</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>


	<section class="section_business_3">
		<div class="lio_wrapper">
			<div class="lio_sb2_title ">
				<h3 style="text-align: left;">Even more benefits to help you drive growth</h3>
			</div>

			<div class="lio_sb3">
				<div class="lio_row">
					<div class="lio_col_4">
						<div class="lio_sb3_content">
							<h6>Sell your products globally</h6>
							<p>Lioneus are now available in North America and Europe, which means your products can go
								global. Set up multi-country feeds in Lioneus Store to start showing your inventory to
								potential shoppers all around the world.</p>
						</div>
					</div>
					<div class="lio_col_4">
						<div class="lio_sb3_content">
							<h6>Highlight promotions</h6>
							<p>Shoppers say they use Lioneus to find the best deal. Use your store to
								set up promotions for your items. Set up a site wide promotion to apply to every
								product on your site, or restrict the promotion to select products.</p>
						</div>
					</div>
					<div class="lio_col_4">
						<div class="lio_sb3_content">
							<h6>Improve results with customized opportunities</h6>
							<p>Lioneus Store doesn’t just help you organize your product and business data, it helps
								you improve your results too. Inside the Opportunities page of Lioneus Store, you can
								get a better sense of ways to improve your product data or campaigns to drive more
								clicks.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="section_business_4">
		<div class="lio_wrapper">
			<div class="owl-carousel owl-theme" id="slider">
				<div class="item">

					<div class="lio_slider_cnt">
						<div class="lio_slider_row">
							<div class="lio_slider_col_3">
								<div class="lio_slider_content_1">
									<span>Success story</span>
									<h3>American retailer New Dawn saw a 9% increase in revenue</h3>
									<p>New cloth start up significantly improved their
										visibility and performance thanks to an overhaul of their product data and
										images for Lioneus Store.</p>
								</div>
							</div>

							<div class="lio_slider_col_6">
								<div class="lio_slider_content_2">

									<div class="lio_slider_center_img">
										<img src="../assets/images/326725.jpg" alt="">
										<p><i class="fas fa-quote-right"></i></p>
									</div>

									<div class="lio_slider_center_content">
										<p>"We are so glad to have this amazing service!"</p>
										<span>Sumuya Brown, Managing Director of New Dawn</span>
									</div>


								</div>
							</div>

							<div class="lio_slider_col_3">
								<div class="lio_slider_content_3">
									<span>Key stats</span>

									<div class="lio_slider_3_num">
										<h3>41%</h3>
										<p>boost in visibility</p>
									</div>
									<div class="lio_slider_3_num">
										<h3>33%</h3>
										<p>increase in revenue</p>
									</div>

								</div>
							</div>

						</div>
					</div>


				</div>


				<div class="item">

					<div class="lio_slider_cnt">
						<div class="lio_slider_row">
							<div class="lio_slider_col_3">
								<div class="lio_slider_content_1">
									<span>Success story</span>
									<h3>Canadian retailer Saras Corner saw a 15% increase in revenue</h3>
									<p>Leading North American unique store significantly improved their
										visibility and performance thanks to an overhaul of their product data and
										images for Explore through Merchant Center.</p>
								</div>
							</div>

							<div class="lio_slider_col_6">
								<div class="lio_slider_content_2">

									<div class="lio_slider_center_img">
										<img src="../assets/images/239367.jpg" alt="">
										<p><i class="fas fa-quote-right"></i></p>
									</div>

									<div class="lio_slider_center_content">
										<p>"In respect to the fact that we use Lioneus as a storefront and as a
											store, choosing this commerce channel makes a lot of sense, and we're
											incredibly pleased with the results."</p>
										<span>Harald Bauer, owner of Saras Corner</span>
									</div>


								</div>
							</div>

							<div class="lio_slider_col_3">
								<div class="lio_slider_content_3">
									<span>Key stats</span>

									<div class="lio_slider_3_num">
										<h3>31%</h3>
										<p>boost in visibility</p>
									</div>
									<div class="lio_slider_3_num">
										<h3>15%</h3>
										<p>increase in revenue</p>
									</div>

								</div>
							</div>

						</div>
					</div>


				</div>


				<!-- <div class="item">

					<div class="lio_slider_cnt">
						<div class="lio_slider_row">
							<div class="lio_slider_col_3">
								<div class="lio_slider_content_1">
									<span>Success story</span>
									<h3>German retailer dm-drogerie markt saw a 33% increase in revenue</h3>
									<p>Leading European drugstore chain dm-drogerie market significantly improved their
										visibility and performance thanks to an overhaul of their product data and
										images for Shopping ads through Merchant Center.</p>
								</div>
							</div>

							<div class="lio_slider_col_6">
								<div class="lio_slider_content_2">

									<div class="lio_slider_center_img">
										<img src="../assets/images/1024683.jpg" alt="">
										<p><i class="fas fa-quote-right"></i></p>
									</div>

									<div class="lio_slider_center_content">
										<p>"In respect to the fact that we use Shopping ads as a storefront and as a
											store, choosing this marketing channel makes a lot of sense, and we're
											incredibly pleased with the results."</p>
										<span>Harald Bauer, Managing Director of dm drogerie markt GmbH</span>
									</div>


								</div>
							</div>

							<div class="lio_slider_col_3">
								<div class="lio_slider_content_3">
									<span>Key stats</span>

									<div class="lio_slider_3_num">
										<h3>79%</h3>
										<p>boost in visibility</p>
									</div>
									<div class="lio_slider_3_num">
										<h3>33%</h3>
										<p>increase in revenue</p>
									</div>

								</div>
							</div>

						</div>
					</div>


				</div> -->
			</div>
		</div>
	</section>



	<section class="section_business_5">
		<div class="lio_sb5_wrapper" style="background: url(../assets/images/banner_c.jpg);">
			<div class="lio_sb5_mobile_img">
				<img src="../assets/images/banner_d.jpg" alt="">
			</div>

			<div class="lio_sb5_left_content">
				<h3>Let’s set up your Lioneus account</h3>
				<a href="https://www.lioneus.com/sell" class="lio_btn lio_btn_fill">Get started</a>
			</div>
		</div>
	</section>


	<section class="section_business_6">
		<div class="lio_wrapper">
			<div class="lio_sb6_title">
				<h2>Frequently asked questions</h2>
			</div>

			<div class="accordion_parent">
				<button class="accordion">What is Lioneus Store?</button>
				<div class="panel">
					<p>Lioneus Store is a tool that helps you upload your store and product data to Lioneus and
						make it available to customers. </p>
				</div>

				<button class="accordion">How do I get my products to show on Lioneus?</button>
				<div class="panel">
					<p>Opting for your product information to show on surfaces across Lioneus. </p>
				</div>

				<button class="accordion">What do I need to do to get started?</button>
				<div class="panel">
					<p>A company name and a password. Open your Lioneus store <a
							href="https://www.lioneus.com/sell">now</a></p>
				</div>
			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script>
		$('#slider').owlCarousel({
			loop: true,
			margin: 10,
			nav: false,
			dots: true,
			responsive: {
				0: {
					items: 1
				},
				600: {
					items: 1
				},
				1000: {
					items: 1
				}
			}
		});

		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				}
			});
		}
	</script>
</body>

</html>