<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Lioneus | About</title>
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.lioneus.com/favicon-32x32.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>

	<section class="section sec_lio_about">
		<div class="lio_wrapper">

			<div class="lio_title">
				<h2> <span style="color: #c5b300;">Our mission</span> is to be the most <span
						style="color:#0F9D58;">user
						friendly</span> e-commerce company
					for our<span style="color:#007aff ;"> users.</span></h2>
				<!-- <p>The best part about technology is seeing what people does with it.</p> -->
			</div>

			<div class="lio_content_wrap">
				<div class="lio_row">

					<div class="lio_col_6">
						<div class="lio_content_img">
							<img src="../assets/images/female-entrepreneurs.jpg" alt="">
						</div>
					</div>





					<div class="lio_col_6">
						<div class="lio_content_justify">
							<div class="lio_content_j1 lio_content_w100">
								<h3>Who we are</h3>
								<p style="line-height: 1.8rem;">We’re building the place for businesses online.
									A place where consumers can discover and buy the best products.

									A place where businesses can bring their products to market, build their brands and
									audiences, and keep all of their sales.</p>
							</div>
							<!-- <div class="lio_content_j2 lio_content_w100">
								<a href="#" class="lio_btn">View collection</a>
							</div> -->
						</div>
					</div>

				</div>
			</div>


			<div class="lio_content_wrap">
				<div class="lio_row">

					<div class="lio_col_6">
						<div class="lio_content_img">
							<img src="../assets/images/Jerene-Feb-2017-growth-iStock-700x420.jpg" alt="">
						</div>
					</div>
					<div class="lio_col_6">
						<div class="lio_content_justify">
							<div class="lio_content_j1 lio_content_w100">
								<h3>What we do</h3>
								<p style="line-height: 1.8rem;">
									We’ve reimagined commerce with a frictionless marketplace that allows businesses to
									freely transact, scale and thrive. we empower our community to keep reinvesting
									in their
									growth.</p>
							</div>
							<!-- <div class="lio_content_j2 lio_content_w100">
								<a href="#" class="lio_btn">Get started</a>
							</div> -->
						</div>
					</div>

				</div>
			</div>

			<div class="lio_content_wrap">
				<div class="lio_row">

					<div class="lio_col_6">
						<div class="lio_content_img">
							<img src="../assets/images/blacklivesmatter.jpg" alt="">
						</div>
					</div>
					<div class="lio_col_6">
						<div class="lio_content_justify">
							<div class="lio_content_j1 lio_content_w100">
								<h3>BLM</h3>
								<p style="line-height: 1.8rem;">The struggle continues.</p>
							</div>
							<!-- <div class="lio_content_j2 lio_content_w100">
								<a href="#" class="lio_btn">View collection</a>
							</div> -->
						</div>
					</div>

				</div>
			</div>

			<div class="lio_content_wrap">
				<div class="lio_row">

					<div class="lio_col_6">
						<div class="lio_content_img">
							<img src="../assets/images/2ec2f3d659f4.jpg" alt="">
						</div>
					</div>
					<div class="lio_col_6">
						<div class="lio_content_justify">
							<div class="lio_content_j1 lio_content_w100">
								<h3>Where there’s help, there’s hope</h3>
								<p style="line-height: 1.8rem;">Thank you to the people who are working to save lives
									and keep communities safe
									during this pandemic.</p>
							</div>
							<!-- <div class="lio_content_j2 lio_content_w100">
								<a href="#" class="lio_btn">View collection</a>
							</div> -->
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>

	<!-- <section class="section sec_lio_blg">
		<div class="lio_wrapper">
			<div class="lio_row">
				<div class="lio_col_6">

					<div class="lio_article">
						<div class="lio_article_header">
							<a href="#" class="lio_article_link">Thank You, Healthcare Workers</a>
						</div>
						<div class="lio_article_body">
							<a href="#"><img src="../assets/images/healthcare.jpg" alt=""></a>
						</div>
					</div>

				</div>

				<!-- <div class="lio_col_6">

					<div class="lio_article">
						<div class="lio_article_header">
							<a href="#" class="lio_article_link"> My Block, My Hood, My City</a>
						</div>
						<div class="lio_article_body">
							<a href="#"><img src="../assets/images/art2.jpg" alt="" style="max-width: 315px;"></a>
						</div>
					</div>

				</div>

			</div>
		</div> -->
	</section> -->

</body>

</html>